.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 20px;
}
.container .col{
    margin: auto;
    background: lightblue;
    padding: 20px;
}

.col h3{
    align-items: center;
    justify-content: center;
}