.container{
    height: 200vh;
    width: 100%;
    border: 2px solid black;
    /* background: azure; */
    background-image: url("img.webp");
    background-position: center center;
    background-repeat:no-repeat;
}
/* img{ */
    /* height: 200px;  */
    /* width: 200px;  */
    /* object-fit: cover; */
    /* object-fit: contain; */
    /* object-position: 10px 20px; */
    /* border: 2px solid black; */
    /* background-image: url("img.webp"); */
/* } */